In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('data1.csv')

In [3]:
data

   Country State   Age   Salary Purchased
0   France     A  44.0  72000.0        No
1    Spain     B  27.0  48000.0       Yes
2  Germany     B  30.0  54000.0        No
3    Spain     A  38.0  61000.0        No
4  Germany     C  40.0      NaN       Yes
5   France     C  35.0  58000.0       Yes
6    Spain     B   NaN  52000.0        No
7   France     A  48.0  79000.0       Yes
8  Germany     C  50.0  83000.0        No
9   France     B  37.0  67000.0       Yes

In [4]:
data1=data.values
data1
y=data.values[:,-1]
y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

In [5]:
from sklearn.preprocessing import Imputer
imputer=Imputer(missing_values="NaN",strategy='mean',axis=0)
imputer=imputer.fit(data1[:,2:4])
data1[:,2:4]=imputer.transform(data1[:,2:4])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [6]:
data1=data1[:,2:4]

In [7]:
data1

array([[44.0, 72000.0],
       [27.0, 48000.0],
       [30.0, 54000.0],
       [38.0, 61000.0],
       [40.0, 63777.77777777778],
       [35.0, 58000.0],
       [38.77777777777778, 52000.0],
       [48.0, 79000.0],
       [50.0, 83000.0],
       [37.0, 67000.0]], dtype=object)

In [8]:
x1=data1[:,0]
x2=data1[:,1]

In [9]:
from math import sqrt

In [10]:
x2

array([72000.0, 48000.0, 54000.0, 61000.0, 63777.77777777778, 58000.0,
       52000.0, 79000.0, 83000.0, 67000.0], dtype=object)

In [20]:
d={}
temp=[]
p1,p2=list(map(int,input("Enter Age and Salary :").split(" ")))
k=int(input("Enter K-No :"))
for i in range(len(x1)):
    d[i]=round(sqrt((p1-data1[i][0])**2+(p2-data1[i][1])**2),3)
sorted_data=sorted(d.items(), key = 
             lambda kv:(kv[1], kv[0]))
for i in sorted_data:
    temp.append(y[i[0]])
if(temp[:k].count("Yes")>temp[:k].count('No')):
    print('Yes')
else:
    print('No')

Enter Age and Salary :23 78000
Enter K-No :5
Yes